@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  background-color: #FFFCFB;
  font-family: 'IBM Plex Sans';
  font-style: normal;
}